<h1>Welcome to AniList Manga Site!</h1>
<p>Some ideas:</p>
<ul>
  <li>Nifty bookshelf to track what you have!</li>
  <li>Maybe release dates if could...hmmm</li>
  <li>possibly links to buy next or could use that to check dates. Maybe an add to calendar option???</li>
</ul>
<div class="container">
  <div class="row">
    <div class="col-sm">
      Hiya row one
    </div>
    <div class="col-sm">
      Hiya row two
    </div>
    <div class="col-sm">
      Hiya row three
    </div>
  </div>
</div>
